* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: Inter, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1.125em;
}

h1 {
  font-size: 3rem;
}

body {
  padding: 4rem 2rem;
  width: 100%;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  background: #f9fafb;
  color: #111827;
}

.no-recent {
  margin-top: 2rem;
}

.forecasts {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.forecasts > div {
  flex-basis: 10rem;
  flex-shrink: 0;
  height: 6rem;
}

.forecasts > div > span {
  display: block;
}

.forecasts > div > span:first-child {
  font-size: 1.1em;
  font-weight: bold;
}

@media screen and (max-width: 40rem) {
  .forecasts {
    overflow-y: auto;
    flex-wrap: nowrap;
    width: 80vw;
  }

  .forecasts > div {
    flex-basis: 8rem;
    height: 4rem;
  }
}

a:link {
  color: #111827;
}
a:visited {
  color: hsl(221, 59%, 31%);
}
a:active,
a:hover {
  color: hsl(221, 39%, 51%);
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111827;
    color: #fff;
  }

  a:link {
    color: hsl(221, 39%, 71%);
  }
  a:active,
  a:hover {
    color: hsl(221, 39%, 61%);
  }
  a:visited {
    color: hsl(221, 59%, 51%);
  }
}
